[Desktop Entry]
Type=Application
Name=Trust Desktop Files
Exec=/usr/local/bin/trust-desktop-files.sh
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
NoDisplay=true