[Desktop Entry]
Version=1.0
Type=Application
Name=empanada
GenericName=Image Viewer
Comment=Scientific Image Analysis
Categories=Education;Science;ImageProcessing;
Exec=xfce4-terminal --title=empanada --hold --command="/usr/local/bin/start_empanada.sh"
Terminal=false
StartupNotify=true
Icon=/opt/icons/empanada_icon.png
StartupWMClass=empanada