[Desktop Entry]
Version=0.7.0
Name=qupath
GenericName=QuPath
X-GNOME-FullName=QuPath
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=xfce4-terminal --title=QuPath --hold --command="/usr/local/bin/start_qp.sh"
Terminal=false
StartupNotify=true
Icon=/opt/QuPath/lib/QuPath.png
StartupWMClass=QuPath